*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sheared style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #469165;
    padding: 13px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: semi-bold ;
    color: white;
    cursor: pointer;
}

/* main style */
header{
    background-color:#FFFFFF;
    padding-top: 16px;
}

nav{
    max-width:85% ;
    width: 1340px;
    margin: 16px 120px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}


#banner{
    border: 1px solid rgb(255, 187, 0); 
    margin: 24px 0;
    align-items: center;
}

.banner-cont {
    font-size: 16px;
    font-weight: 500px;
    margin-bottom:24px ;
    color:#30B868 ;
}

.banner-contant{
    padding:116px ;
    text-align: center ;
}
.banner-contant h1{
    font-size: bold;
    font-weight: 700px;
    text-align: center;
    color:#FFFFFF ;
}

.banner-contant span{
    color: #30B868;
}
.banner-contant p{
    font-size: 18px;
    font-weight: 400px;
    line-height: 18px;
    margin-bottom: 32px;
    color:#FFFFFF ;
}
.button{
    display: flex;
    justify-content: center;
    gap: 16px;
}

section{
    background-image: url(../B13-A01-Knowledge-Vault/assets/hero-bg.png);
}