*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sheared style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #469165;
    padding: 13px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: semi-bold ;
    color: white;
    cursor: pointer;
}

/* main style */
header{
    background-color:#FFFFFF;
    padding-top: 16px;
}

nav{
    max-width:85% ;
    width: 1340px;
    margin: 16px 120px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}


#banner{
    /* border: 1px solid rgb(255, 187, 0);  */
    margin: 24px 0;
    align-items: center;
}

.banner-cont {
    font-size: 16px;
    font-weight: 500px;
    margin-bottom:24px ;
    color:#30B868 ;
}

.banner-contant{
    padding:116px ;
    text-align: center ;
}
.banner-contant h1{
    font-size: bold;
    font-weight: 700px;
    text-align: center;
    color:#FFFFFF ;
}

.banner-contant span{
    color: #30B868;
}
.banner-contant p{
    font-size: 18px;
    font-weight: 400px;
    line-height: 18px;
    margin-bottom: 32px;
    color:#FFFFFF ;
}
.button{
    display: flex;
    justify-content: center;
    gap: 16px;
}

#banner {
    background-image: url(../B13-A01-Knowledge-Vault/assets/hero-bg.png);
}


.motivation-container{
    width: 85%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
.motivation-container h2 {
    font-weight: 700px;
    font-size: 48px;
}
.motivation-container p{
    color: #627382;
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    
    margin-bottom: 44px;
}

.motivation-box{
    display: flex;
    gap: 24px;
    width: 1360px; 
    /* border: 1px solid red; */

}
.motivation-box .motivation-card{
    padding: 70px;
    /* border: 1px solid red; */
    max-width: 322px;
    box-shadow: 0 0 8px 0 #0000000F;
}
.motivation-card img{
    max-width: 60px;
    margin-bottom:16px ;
    background-color:#F95555 ;
}
.motivation-card h3{
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
    margin-bottom: 16px;
}
.motivation-card p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400px;
}

.about-container{
    margin: 0 auto;
    display: flex;
    padding: 120px;
    justify-content: space-between;
    gap: 60px;

}

.about-text{
   padding: 102px;
}
.about-container p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 16px;
}

.about-container h2{
    font-size: 700px;
    font-size: 48px;


}
.about-container span{
    color: #469165;
}

.about-container ul{
    text-decoration: none;
    list-style: none;
    margin-top: 40px;

}
.about-container li{
    gap: 16px;
    color:#001931 ;
    font-weight: 500px;
    font-size: medium;
}

#more {
    padding: 120px;
    background-color:#F7F6F2 ;
   
}

#more .more-container{
    width: 1600px;
    max-width: 85%;
    margin: 0 auto;
    text-align: center;

}
.more-container p{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    margin-top: 16px
}

#lasts {
    width: 1600px;
    background-color:#001931 ;
    
}

.last {
    display: flex;
    justify-content: space-between;
    color: #827362;
}

footer{
    margin-top: 120px;
    background-color:#001931;
    padding: 120px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

}

.footer-container p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}

footer p{
    color: #F7F6F2;
    text-align: center;
    font-size: 16px;
    padding: 80px;
}